<?xml version="1.0"?>

<launch>


	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mars_lite_description)/urdf/mars_lite_with_gripper.urdf.xacro'"/>
	<node name="rviz" pkg="rviz" type="rviz"/>


<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
<param name="use_gui" value="True"/>
</node>








</launch>

